.welcome-title {
  font-size: 4rem;
  line-height: 1.1;
  font-family: var(--font-main);
  text-shadow: none;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
  margin: 0;
  font-family: var(--font-main);
}

/* Form Styles */
.username-form {
  padding: 2rem;
  border-radius: 12px;
  margin: 2rem 0;
  text-align: left;
}

.input-group {
  margin-bottom: 1.5rem;
  pointer-events: auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: var(--font-main);
  color: black;
}

input {
  width: calc(100% - 2.5rem);
  padding: 1rem 1.25rem;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1.1rem;
  font-family: var(--font-main);
  background: rgba(237, 240, 245, 0.5);
  color: black;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

input:focus {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px var(--color-vintage-accent-light);
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.submit-button {
  background: var(--color-vintage-accent);
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.1rem;
  font-family: var(--font-main);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  min-width: 150px;
  pointer-events: auto;
}

.submit-button:hover {
  background: var(--color-vintage-accent-light);
  transform: translateY(-2px);
}

button:disabled {
  background: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  transform: none;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
