@import "tailwindcss";

:root {
  --color-vintage-bg: #f5f5dc;
  --color-vintage-light: #f3f1ee;
  --color-vintage-text: #3b2f2f;
  --color-vintage-accent: #800000;
  --color-vintage-accent-disabled: #905454;
  --color-vintage-accent-light: #933c3c;
  --color-vintage-highlight: #556b2f;
  
  --font-main: 'EB Garamond', serif;
  --font-display: 'EB Garamond', serif;

  font-family: var(--font-main);
  line-height: 1;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-vintage-text);
  background-color: var(--color-vintage-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-vintage-text);
  text-decoration: underline;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--color-vintage-accent);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1;
  font-family: var(--font-display);
  color: var(--color-vintage-accent);
} */

button {
  border-radius: 8px;
  font-weight: 500;
  font-family: var(--font-display);
  background-color: var(--color-vintage-accent);
  color: var(--color-vintage-bg);
  cursor: pointer;
}
button:hover {
  background-color: var(--color-vintage-accent-light);
  transform: scale(1.02);
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  background: var(--color-vintage-accent-disabled);
  cursor: not-allowed;
  transform: none;
  opacity: 0.6;
  box-shadow: none;
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--color-vintage-text);
}
